/*
Colour Codes:
*	Name:
*		Intensity - Hex code

	Blue:
		500 - 2196F3
		900 - 0D47A1
	Blue Grey:
		200 - B0BEC5
		600 - 546E7A
	Green:
		500 - 4CAF50
	Grey:
		 50 - FAFAFA
		300 - E0E0E0
		400 - BDBDBD
		500 - 9E9E9E
		600 - 757575
		700 - 616161
		800 - 424242
	Red:
		500 - F44336
*/
@import url("base.css");

.cardArea div {
    margin: 0.4em 0.8em;
    zoom: 1.25;
}

.cardArea p {
    font-size: 8vh;
}

#EndGame form input {
    font-size: 4vh;
}
